pkgbase = aurscan
	pkgdesc = High-performance AUR package scanner with PKGBUILD and artifact malware detection
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/bfirestone/aurscan
	install = aurscan.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = pacman
	depends = glibc
	depends = gcc-libs
	optdepends = paru: for paru-native PreBuildCommand integration
	options = !lto
	source = https://github.com/bfirestone/aurscan/releases/download/v0.2.0/aurscan-0.2.0.tar.gz
	sha256sums = 78c18e2c488829681634d4f026ed8ceba8339d2e7892fd987376695001da50b0

pkgname = aurscan
