pkgbase = aurscan
	pkgdesc = High-performance AUR package scanner with PKGBUILD and artifact malware detection
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/bfirestone/aurscan
	install = aurscan.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = pacman
	depends = glibc
	depends = gcc-libs
	optdepends = paru: for paru-native PreBuildCommand integration
	options = !lto
	source = https://github.com/bfirestone/aurscan/releases/download/v0.2.2/aurscan-0.2.2.tar.gz
	sha256sums = 6c921d761527ac040ec8517cbdea1d9f75736b3b684645749767188d823ee8e6

pkgname = aurscan
