pkgbase = aurscan
	pkgdesc = High-performance AUR package scanner with PKGBUILD and artifact malware detection
	pkgver = 0.2.3
	pkgrel = 1
	url = https://github.com/bfirestone/aurscan
	install = aurscan.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = pacman
	depends = glibc
	depends = gcc-libs
	optdepends = paru: for paru-native PreBuildCommand integration
	options = !lto
	source = https://github.com/bfirestone/aurscan/releases/download/v0.2.3/aurscan-0.2.3.tar.gz
	sha256sums = 2c964fda9ef78f1f9652767ec086a43b88d68459f5a88aef56cde4eebe065ea4

pkgname = aurscan
